@inject GameState GameStateProvider

<button class="square" @onclick="squareClick">
    @value
</button>

@code {
    [Parameter] public int value { get; set; }
    void squareClick()
    {
        GameStateProvider.nextTurn();
        Console.WriteLine("click" + GameStateProvider.symbol);
    }
}
