@inject GameState GameStateProvider

<button class="square" @onclick="@(() => OnClick.InvokeAsync(value))">
    @GameStateProvider.history[GameStateProvider.history.Count() - 1][value]
</button>

@code {
    [Parameter] public int value { get; set; }
    [Parameter] public EventCallback<int> OnClick { get; set; }
}
